* {
    margin: 0 0 0 0;
}
.main-color {
    background-color: #c1cfda;
    color: black;
}

.secondary-color {
    background-color: #20a4f3;
    color: black;
}

#game-grid {
    border: 2px solid black;
    margin: 0px auto;
}

#game-grid td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #71bae7;
    color: black;
    /*
    background-color: #49afed;
    */
}