* {
    margin: 0 0 0 0;
}
.main-color {
    background-color: #c1cfda;
    color: black;
}

.secondary-color {
    background-color: #20a4f3;
    color: black;
}

}
#sideBar {
    width: 20%;
}

#gameContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.centered {
    text-align: center;
    width: auto;
    margin: 0 auto;
}

#flexContainer {
    display: flex;
    margin: 2.5% auto;
}

.game-grid {
    width: 450px;
    border: 2px solid black;
    margin: auto;
}

.game-grid td {
    border: 0px solid black;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #71bae7;
    color: black;
}
