* {
    margin: 0 0 0 0;
}
.main-color {
    background-color: #c1cfda;
    color: black;
}

.secondary-color {
    background-color: #20a4f3;
    color: black;
}

#start{
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /*transition: .5s ease;*/
}

#singleplayerMode{
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /*transition: .5s ease;*/
}

#easy {
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /*transition: .5s ease;*/
}

#medium {
    background-color: darkgoldenrod;
    color: white;
    font-size: 20px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /*transition: .5s ease;*/
}

#hard {
    background-color: darkred;
    color: white;
    font-size: 20px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /*transition: .5s ease;*/
}

#multiplayerMode{
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /*transition: .5s ease;*/
}

#sideBar {
    width: 20%;
    font-size: 20px;
}

#gameContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.centered {
    text-align: center;
    width: auto;
    margin: 0 auto;
}

#flexContainer {
    display: flex;
    margin: 2.5% auto;
}

.game-grid {
    width: 450px;
    border: 2px solid black;
    margin: auto;
    table-layout: fixed;
}

.game-grid td {
    border: 0px solid black;
    width: 50px !important;
    height: 50px !important;
    text-align: center;
    background-color: #71bae7;
    color: black;
}